{% extends 'base.html' %}

{% block head %}
    <title>Fix Points</title>
    <script type="text/javascript">
        let points = {{ points }},
            image_width = {{ image_width }},
            image_height = {{ image_height }},
            filename = "{{ filename }}";
    </script>
    <script src="/static/js/fix_points.js"></script>
    <script src="/static/js/results.js"></script>
{% endblock %}
{% block body %}
    <pre id="bootstrap-overrides" style="margin-top: 20px; white-space: wrap;">
        {% if success == True %}
            <h5 class="ms-5">Please fix points:</h5>
            <canvas id="canvas" width="{{ image_width }}px" height="{{ image_height }}px"></canvas>
            <form method="post">
                <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}" />
                <table class="table table-borderless" style="width: 100px; height: 100px; margin:auto">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary" id="up">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
                                    </svg>
                                </button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-secondary" id="left">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                                    </svg>
                                </button>
                            </td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary" id="right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary" id="down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
                                    </svg>
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="mb-4 mt-3 row me-0">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" style="border-radius: 0.375rem; margin-left: 0; margin-right: 0;border: 1px solid #dee2e6;">
                    <div class="mb-0 mt-3 row me-0">
                        <div class="col-sm-2"></div>
                        <label for="mimic_offset_x" class="col-sm-5 col-form-label">Offset X: </label>
                        <label for="mimic_offset_y" class="col-sm-4 col-form-label">Offset Y: </label>
                    </div>
                    <div class="mb-3 row me-0">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="mimic_offset_x" name="mimic_offset_x">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="mimic_offset_y" name="mimic_offset_y">
                        </div>
                    </div>
                    <div class="mb-0 row me-0">
                        <div class="col-sm-2"></div>
                        <label for="vertical_offset" class="col-sm-5 col-form-label">Vertical offset: </label>
                        <label for="horizontal_offset" class="col-sm-4 col-form-label">Horizontal offset: </label>
                    </div>
                    <div class="mb-3 row me-0">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="vertical_offset" name="vertical_offset">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="horizontal_offset" name="horizontal_offset">
                        </div>
                    </div>
                    <div class="mb-0 row me-0">
                        <div class="col-sm-2"></div>
                        <label for="point_radius" class="col-sm-5 col-form-label">Point radius: </label>
                        <label for="point_color" class="col-sm-4 col-form-label">Point color: </label>
                    </div>
                    <div class="mb-5 row me-0">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="point_radius">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <select class="form-select" id="point_color" aria-label="Dots color">
                                <option value="1" selected>Blue</option>
                                <option value="2">Red</option>
                                <option value="3">Green</option>
                                <option value="4">White</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row me-0">
                        <div class="col-sm-2"></div>
                        <input class="btn btn-secondary mb-3 col-sm-3" type="button" onclick="fix_points()" value="Change">
                        <div class="col-sm-1"></div>
                        <input class="btn btn-secondary mb-3 col-sm-5" type="button" onclick="reset_parameters()" value="Reset parameters">
                    </div>
                </div>
                </div>

                <div class="mb-0 row me-0">
                    <div class="col-sm-2"></div>
                    <label for="specific_benefit" class="mt-3 col-sm-3 col-form-label">Specific benefit: </label>
                    <div class="col-sm-2"></div>
                    <button id="solve" class="btn btn-primary mt-3 col-sm-3">Solve</button>
                </div>
                <div class="mb-2 row me-0">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="specific_benefit">
                    </div>
                    <div class="col-sm-2"></div>
                    <button id="solve_get_order" class="btn btn-primary mt-3 col-sm-3">Solve + Get order</button>
                </div>
                <div class="mb-3 row me-0">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <span><b>* Solve + Get order will increase the waiting time</b></span>
                    </div>
                </div>
                <div class="row me-0">
                    <div class="col-sm-7"></div>
                    <button type="submit" class="btn btn-success col-sm-3" id="play" formaction="/play">Play</button>
                </div>
            </form></pre>
            <div class="progress" role="progressbar" aria-label="solve-progressbar" id="progress_container" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 0" id="solve_progressbar_blue">0%</div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                File upload failed.
                Please make sure the file is an image of type: png / jpg / jpeg / webp.
            </div>
        {% endif %}
{% endblock %}