{% extends 'base.html' %}

{% block head %}
<title>Order</title>
{% endblock %}
{% block body %}
    <div style="text-align:center;">
        <img src="{{ image_path }}" alt="" style="width:400px;">
        <br>
        <div style="padding:0.75em;">
            <h2>The Benefit is {{ benefit }}.</h2>
            <label>{% if benefit == 0 %}No order found.{% else %}{{ message }}{% endif %}</label>
            <br><br>
            <label>The time it took to find: {{ duration }} seconds.</label>
        </div>
    </div>
{% endblock %}