{% extends 'base.html' %}

{% block head %}
<title>Play Mimic Capture</title>
    <script type="text/javascript">
    let points = [];
    let blocks = [];
    const X = 0, Y = 1;


    function is_below_line(point1, point2, point3){
        let m = (point2[Y] - point1[Y]) / (point2[X] - point1[X]), //slope
            b = point1[Y] - m * point1[X],
            y = m * point3[X] + b;
        return y > point3[Y]
    }

    function remove_block(block_to_remove){
        {% if is_win == None %}
            {% for block in blocks %}
                console.log({{ block[0] }}, block_to_remove[0], {{ block[1] }}, block_to_remove[1])
                if ({{ block[0] }} === block_to_remove[0] && {{ block[1] }} === block_to_remove[1]) {
                    window.location = `/play?block_i=${block_to_remove[0]}&block_j=${block_to_remove[1]}`
                    return null;
                }
            {% endfor %}
        {% endif %}
    }

    function drawImage() {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const a = 2 * Math.PI / 6;
        const r = 30;
        let frog_x = 0, frog_y = 0;
        canvas.width = r * 12;
        canvas. height = r * 14;


        function init() {
            for (let i=0; i<7; i++){
                let x = r + 10,
                    y = r + i*Math.sin(a) *2*r;
                for (let j=0; j<7; j++) {
                    let point = [i, j, x, y];
                    points.push(point);
                    if (i === {{ frog_indexes[0] }} && j === {{ frog_indexes[1] }}){
                        frog_x = x;
                        frog_y = y;
                    }
                    drawHexagon(point, '#584e44', false);
                    x = x + r + r * Math.cos(a);
                    y = y + r * Math.sin(a) * (-1) ** j;
                }
            }
            let mimic_treasure = new Image();
            mimic_treasure.onload = function(){
                ctx.drawImage(mimic_treasure, frog_x - 0.5 * r, frog_y - 0.5 * r, r * 64/60, r * 58/60);
            };
            mimic_treasure.src = "/static/images/mimic_treasure.png";
        }
        init();
        {% for block in blocks %}
            for (const point of points){
                if (point[0] === {{ block[0] }} && point[1] === {{ block[1] }})
                    drawHexagon(point, '#b9afa1', true);
            }
        {% endfor %}

        function drawHexagon(point, color, is_block) {
            let x = point[2],
                y = point[3],
                block;
            if (is_block)
                block = [point[0], point[1], point[2], point[3], []];
            ctx.beginPath();
            for (let i = 0; i < 6; i++) {
                let line_to_x = x + r * Math.cos(a * i),
                    line_to_y = y + r * Math.sin(a * i);
                ctx.lineTo(line_to_x, line_to_y);
                ctx.fillStyle = color;
                ctx.fill();
                if (is_block){
                    block[4].push([line_to_x, line_to_y]);
                    ctx.lineWidth = 3;
                }
            }
            if (is_block)
                blocks.push(block);
            ctx.closePath();
            ctx.stroke();
        }
    }
    document.addEventListener("DOMContentLoaded", drawImage, false);
    document.addEventListener("DOMContentLoaded", function(){
        const canvas = document.getElementById('canvas'),
        canvas_bounding = canvas.getBoundingClientRect(),
        ctx = canvas.getContext('2d');
        canvas.addEventListener('click', function(event) {
        let x = event.pageX - canvas_bounding.left,
            y = event.pageY - canvas_bounding.top,
            block_to_remove = null;
        for (const block of blocks){
            const POINTS = 4;
            if (y < block[POINTS][1][Y] && y > block[POINTS][5][Y]
                && x < block[POINTS][0][X] && x > block[POINTS][3][X]){
                if (x < block[POINTS][2][X]){
                    if (y < block[POINTS][3][Y]) {
                        if (!is_below_line(block[POINTS][3], block[POINTS][4], [x, y]))
                            block_to_remove = block;
                    }
                    else if (is_below_line(block[POINTS][3], block[POINTS][2], [x, y]))
                            block_to_remove = block;
                }
                else if (x > block[POINTS][1][X]) {
                    if (y < block[POINTS][0][Y]) {
                        if (!is_below_line(block[POINTS][5], block[POINTS][0], [x, y]))
                            block_to_remove = block;
                    }
                    else if (is_below_line(block[POINTS][1], block[POINTS][0], [x, y]))
                            block_to_remove = block;
                }
                else
                    block_to_remove = block;
            }
        }
        if (block_to_remove)
            remove_block(block_to_remove);
    }, false);
    }, false);


    </script>
{% endblock %}
{% block body %}
   <canvas id="canvas"></canvas>
    {% if is_win == True %}
    <h1>You win!</h1>
    {% elif is_win == False %}
    <h1>You lose!</h1>
    {% endif %}
{% endblock %}